---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "layout",
        "syntax-highlighting"
;

body {
  font-size: $base-font-size;
}

// Enable tooltips on fa icons
.fa[data-toggle="tooltip"] {
  display: inline-block;
}

.overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spell-list {
  margin-left: 0;
  list-style: none;

  .panel-heading {
    padding: 0;
    a {
      color: black;
      display: block;
      padding: 10px 15px;
      text-decoration: none;
    }

    @include media-query-sm() {
      .col-md-3 {
        text-align: left;
      }
    }
  }

  h3 {
    display: inline-block;
    margin: 10px 0;
  }
}

.spell {
  dl.dl-horizontal {
    $dtWidth: 125px;
    dt {
      width: $dtWidth;
      float: left;
      text-align: right;

      &:after {
        content: ":";
      }
    }

    dd {
      margin-left: $dtWidth + 10px;
    }
  }
}

.search-form {
  input, select {
    font-size: 2em;
    height: 2em;
  }
  ul.typeahead {
    font-size: 2em;
  }
}

table#spell-list {
  td > .spell {
    white-space: normal;
  }

  tr.expanded td:first-child .fa:before {
    content: "-";
  }
}