---
layout: default
title: Glorfindel
---

<div class="home">

  <h1>Spells</h1>

  {% assign grouped_spells = site.data.spells | where: "prepared", true | group_by:"level" %}

  <div class="panel-group" id="spell-list" role="tablist" aria-multiselectable="true">
    {% for levelSpells in grouped_spells %}
      <h2>Level {{levelSpells.name}} Spells</h2>
      {% for spell in levelSpells.items %}
        {% assign panelId = "spell" | append: '-' | append: levelSpells.name | append: '-' |append: forloop.index %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{panelId | append: '-heading'}}">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#spell-list" href="#{{panelId}}" aria-expanded="false" aria-controls="{{panelId}}">
                {{spell.name}}
                {%if spell.ritual%}<i class='fa fa-magic' data-toggle="tooltip" data-placement="top" title="Ritual (10 minutes)"></i>{%endif%}
                <small>{{spell.quickinfo}}</small>
                <small class='pull-right'>{{spell.time}} - {{spell.range}} - {{spell.components}}</small>
              </a>
            </h4>
          </div>
          <div id="{{panelId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{panelId | append: '-heading'}}">
            <div class="panel-body">
              <!--<span class="badge">{{spell.level}}</span>-->
              <h3>
                {{spell.name}}
                {%if spell.ritual%}<i class='fa fa-magic' data-toggle="tooltip" data-placement="top" title="Ritual (10 minutes)"></i>{%endif%}
                <small>({{spell.type}})</small>
              </h3>
              <div class='row'>
                <div class='col-xs-4'>
                  <dl class='dl-horizontal'>
                    <dt>Casting Time</dt><dd>{{spell.time}}</dd>
                    <dt>Range</dt><dd>{{spell.range}}</dd>
                    <dt>Components</dt>
                    <dd>
                      {{spell.components}}
                      {%if spell.material-components %}
                        <i class='fa fa-asterisk' data-toggle="tooltip" data-placement="top" title="{{spell.material-components}}"></i>
                      {%endif%}
                    </dd>
                    <!--<dt>Components</dt><dd class='overflow-ellipses' data-toggle='tooltip' title='{{spell.components}}'>{{spell.components}}</dd>-->
                    <dt>Duration</dt><dd>{{spell.duration}}</dd>
                  </dl>
                </div>
                <div class='col-xs-8'>
                  <dl>
                    <dt>Description</dt>
                    <dd>{{spell.description}}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
