---
layout: default
title: Glorfindel
---

<div class="home">

  <h1 class="page-heading">Spells</h1>

  {% assign grouped_spells = site.data.spells | group_by:"level" %}

  {% for levelSpells in grouped_spells %}
    <h2>Level {{levelSpells.name}} Spells</h2>
    <ul class="spell-list">
      {% for spell in levelSpells.items %}
        <li>
          <h3>{{spell.name}} <small>{%if spell.ritual%}RITUAL{%endif%} ({{spell.type}})</small></h3>
          <dl class='dl-horizontal'>
            <dt>Name</dt><dd> </dd>
            <dt>CastingTime</dt><dd>{{spell.time}}</dd>
            <dt>Range</dt><dd>{{spell.Range}}</dd>
            <dt>Components</dt><dd>{{spell.components}}</dd>
            <dt>Duration</dt><dd>{{spell.duration}}</dd>
            <dt>Description</dt><dd>{{spell.description}}</dd>
          </dl>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
