---
layout: "default"
---
<div class="panel panel-default">
   <div class="panel-heading">Filter Spells</div>
   <div class="panel-body">
      <fieldset class='search-form' data-target="#spell-list">
         <div class='row'>

            <div class="form-group col-md-5">
               <label for="search-name">Name</label>
               <input type="text" class="form-control" id="search-name" placeholder="Name" autofocus
                  data-provide="typeahead"
                  data-source='{{site.spells | map: "name" | jsonify | }}'
                  data-target-col='0'>
            </div>

            <div class="form-group col-md-3">
               <label for="search-class">Class</label>
               <select class="form-control" data-target-col='1'>
                  <option value="">-- Select --</option>
                  {% for class in site.data.classes | where: 'spellcaster', true %}
                     <option value='{{class.value}}'>{{class.name}}</option>
                  {% endfor %}
               </select>
            </div>

            <div class="form-group col-md-3">
               <label for="search-class">Level</label>
               <select class="form-control" data-target-col='4'>
                  <option value="">-- Select --</option>
                  {% for level in (1..9) %}
                     <option value='{{level}}'>{{level}}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
      </fieldset>
   </div>
</div>

<table id="spell-list" class="table table-striped table-bordered datatable" cellspacing="0" width="100%"
   data-order='[[0, "asc"]]' >
     <thead>
         <tr>
            <th>Name</th>
            <th>Classes</th>
            <th>Type</th>
            <th>Ritual</th>
            <th>Level</th>
            <th>Time</th>
            <th>Range</th>
            <th>Components</th>
            <th>Duration</th>
         </tr>
      </thead>
      <tbody>
         {% for spell in site.spells %}
            <tr>
               <td><a href="{{site.baseurl}}/spells/{{spell.name | slugify}}.html">{{spell.name}}</a></td>
               <td>{{spell.classes}}</td>
               <td>{{spell.type}}</td>
               <td>{{spell.ritual}}</td>
               <td>{{spell.level}}</td>
               <td>{{spell.time}}</td>
               <td>{{spell.range}}</td>
               <td>{{spell.components}}</td>
               <td>{{spell.duration}}</td>
            </tr>
         {% endfor %}
      </tbody>
</table>
