{% assign spell = include.spell %}
{% assign panelId = "spell" | append: '-' | append: levelSpells.name | append: '-' |append: forloop.index %}
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="{{panelId | append: '-heading'}}">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#learned-spells" href="#{{panelId}}" aria-expanded="false" aria-controls="{{panelId}}">
        {{spell.name}}
        {%if spell.ritual%}<i class='fa fa-magic' data-toggle="tooltip" data-placement="top" title="Ritual (10 minutes)"></i>{%endif%}
        <small>{{spell.quickinfo}}</small>
        <small class='pull-right'>{{spell.time}} - {{spell.range}} - {{spell.components}}</small>
      </a>
    </h4>
  </div>
  <div id="{{panelId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{panelId | append: '-heading'}}">
    <div class="panel-body">
      <!--<span class="badge">{{spell.level}}</span>-->
      {% include spell.html spell=spell %}
    </div>
  </div>
</div>